name: Publish Lev-eval For TS

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest 
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      # Setup .npmrc file to publish to GitHub Packages
      - uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          registry-url: 'https://npm.pkg.github.com'
      - run: |
          yarn
          yarn build
      - uses: actions/upload-artifact@v5
        with:
          name: build
          path: ./
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
